.contenedor{
    display: flex;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, #AEE43D 0%, #779b2b 100%);
}
.menu{
    padding: 10%; 
}

.immagen{
    border-radius:50%;
}

.con
{
    background-color: #FFFFFF;
}

