<ion-content>
<div class="fondo">
 
  <div class="editar-imagen">
    <img src="assets/imagenes/piña.png">
  </div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button expand="full" color="primary" shape="round" class="btn-primary" routerLink='/configurar-dieta'><b>Crear dieta</b></ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button expand="full" fill="clear" routerLink='/historial'><b>Ver Historial</b></ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>  
  </div> 
</ion-content>
