.xd{
    display: flex;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, #AEE43D 0%, #779b2b 100%);
}

.contenedor
{
    padding: 10%;
}

.ion-card{
    width: 10px;
    box-shadow:none;
}
.btn-primary{
    height: 45px;
}

